{% extends "template.html" %}

{% block content %}
<form method="POST" action="/admin/add/{{ project_id }}/">
    <center>
    Add to Project {{ project_id }}<br />
    {{ form.url.label}}<br />{{ form.url(size=30) }}
    <input type="submit" value="Add">
    </center>
</form>
{% endblock %} 
