{% extends "template.html" %}

{% block content %}
<form method="POST" action="{{ url_for('create') }}">
    <center>
    <b>Create a new project</b><br />
    <table>
    <tr><td style="text-align: right;"><b>{{ form.name.label }}</b></td><td>{{ form.name(size=60) }}</td></tr>
    <tr><td style="text-align: right;"><b>{{ form.description.label }}</b></td><td>{{ form.description(size=60) }}</td></tr>
    <tr><td style="text-align: right;"><b>{{ form.instruction.label }}</b></td><td>{{ form.instruction(rows=2, cols=100) }}</td></tr>
    <tr><td style="text-align: right;"><b>{{ form.introduction.label }}</b></td><td>{{ form.introduction(rows=6, cols=100) }}</td></tr>
    <tr><td style="text-align: right;"><b>{{ form.classification_maximum.label }}</b></td><td>{{ form.classification_maximum }}</td></tr>
    </table>
    <input type="submit" value="Initialize project">
    </center>
</form>
{% endblock %} 
