{% extends "template.html" %}

{% block content %}
<form method="POST" action="/admin/create/">
    <center>
    <b>Create a new project</b><br />
    <b>{{ form.name.label }}</b> {{ form.name(size=30) }}<br />
    <b>{{ form.instruction.label }}</b> {{ form.instruction(size=100) }}<br />
    {{ form.description.label }} {{ form.description(size=100) }}<br />
    <input type="submit" value="Initialize project">
    </center>
</form>
{% endblock %} 
