{% extends "template.html" %}

  {% block content %}
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
    <p>Welcome to this crowdsourcing tool!</p>
    {% if current_user.admin %}
    <p><a href="/admin/">Click here</a> to go to the admin site.</p>
    {% endif %}
    {% if (projects | length) != 0 %}
    <h3>Projects available to work on:</h3>
    <ul>
    {% for project in projects: %}
    {% if project.hidden == False %}
    <li><a href="/project/{{ project.id }}/">{{ project.name }}</a></li>
    {% if project.description %}
    {{ project.description }}
    {% endif %}
    {% endif %}
    {% endfor %}
    </ul>
    {% else %}
    <p>Currently there are no projects available.</p>
    {% endif %}
    </div>
    </div>
    </div>
  {% endblock %}
