{% extends "template.html" %}

{% block content %}
<form method="POST" action="/login/">
    <center>
    <b>Login</b><br />
    {{ form.csrf_token }}
    <b>{{ form.username.label }}</b> {{ form.username(size=20) }}<br />
    <b>{{ form.password.label }}</b> {{form.password(size=20) }}<br />
    <input type="submit" value="Login">
    </center>
</form>
{% endblock %} 
