{% extends "template.html" %}

{% block content %}
<form method="POST" action="/user/password/">
    <center>
    <b>{{ form.password.label }}</b> {{ form.password(size=20) }}<br />
    <b>{{ form.repeat_password.label }}</b> {{ form.repeat_password(size=20) }}<br />
    <input type="submit" value="Change password">
    </center>
</form>
{% endblock %} 
