{% extends "template.html" %}

{% block content %}
<style>
  tr, td {
    padding: 4px;
  }
</style>
<form method="POST" action="/register/">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
    <b>Create an account</b><br />
    <table>
    {{ form.csrf_token }}
    <tr><td><b>{{ form.username.label }}</b></td><td>{{ form.username(size=20) }}</td></tr>
    <tr><td>{{ form.email.label }}</td><td>{{ form.email(size=30) }}</td></tr>
    PLEASE DO NOT REUSE A SECURE PASSWORD AT THIS TIME!!!!
    <tr><td><b>{{ form.password.label}}</b></td><td>{{form.password(size=20) }}</td></tr>
    </table>
    <input type="submit" value="Register">
    </div>
</form>
{% endblock %} 
