{% extends "template.html" %}

  {% block content %}
    <style>
    </style>
    <form method="POST" url="/select">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-8">
    <center>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500" height="500">
    <image x="0" y="0" width="500" height="500" xlink:href="http://imgur.com/{{data['url']}}.png" />
    
    </svg>
    </div>
    <div class="col-md-4">
    <p>
    <input type="hidden" value="{{data['url']}}" name="url"></input>
    <p>Select the ice</p>
    <p><input type="button" class="btn btn-lg" id="switcherbtn"></input>
    <p><button type="submit" class="btn btn-success btn-lg" value="Yes" name="yes" id="yesbtn">Done selecting ice</button></p>
    <p><button type="submit" class="btn btn-danger btn-lg" value="No" name="no" id="nobtn">There is no ice visible</button></p>
    <p>Ice<br /><textarea id="icetext"></textarea></p>
    <p>Water<br /><textarea id="watertext"></textarea></p>
    </div>
    </div>
    </form>
    <script src="/static/select.js"></script>
  {% endblock %}
