{% extends "template.html" %}

  {% block content %}
    <style>
    </style>
    <form method="POST" url="/select">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-8">
    <center><img width="500px" src="http://imgur.com/{{data['url']}}.png" usemap="#imagearea" /></center>
    <map name="imagearea">
      <area shape="rect" coords="0,0,200,200" id="rect1" onclick="registerClick('1');" />
      <area shape="rect" coords="0,200,200,400" id="rect2" onclick="registerClick('2');" />
      <area shape="rect" coords="200,200,400,400" id="rect3" onclick="registerClick('3');" />
      <area shape="rect" coords="200,0,400,200" id="rect4" onclick="registerClick('4');" />
    </map>
    </div>
    <div class="col-md-4">
    <p>
    <input type="hidden" value="{{data['url']}}" name="url"></input>
    <p>Select the ice</p>
    <p><input type="button" class="btn btn-lg" id="switcherbtn"></input>
    <p><button type="submit" class="btn btn-success btn-lg" value="Yes" name="yes" id="yesbtn">Done selecting ice</button></p>
    <p><button type="submit" class="btn btn-danger btn-lg" value="No" name="no" id="nobtn">There is no ice visible</button></p>
    <p>Ice<br /><textarea id="icetext"></textarea></p>
    <p>Water<br /><textarea id="watertext"></textarea></p>
    </div>
    </div>
    </form>
    <script src="/static/select.js"></script>
  {% endblock %}
