{% extends "template.html" %}

  {% block content %}
    <style>
    .grid { margin:1em auto; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:30px; height:30px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.grid td.clickedice {
    background-color:yellow;
    font-weight:bold; color:red;
    opacity:0.7;
}
.grid td.clickedwater {
    background-color:red;
    font-weight:bold; color:yellow;
    opacity:0.7;
}
    </style>
    <form method="POST" url="/select">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-8">
    <center><table width="500px" height="500px" background="http://imgur.com/{{data['url']}}.png" id="imgtable"></table></center>
    </div>
    <div class="col-md-4">
    <p>
    <input type="hidden" value="{{data['url']}}" name="url"></input>
    <p></p>
    <p><input type="button" class="btn btn-lg" id="switcherbtn"></input>
    <p><button type="submit" class="btn btn-success btn-lg" value="Yes" name="yes" id="yesbtn">Done selecting things</button></p>
    <p><button type="submit" class="btn btn-danger btn-lg" value="No" name="no" id="nobtn">There is no ice visible</button></p>
    <p>Ice<br /><textarea id="icetext"></textarea></p>
    <p>Water<br /><textarea id="watertext"></textarea></p>
    </div>
    </div>
    </form>
    <script src="/static/select.js"></script>
  {% endblock %}
