<!doctype html>
  <html>
    <head>
      <title>Microtasking Manager</title>
      <link rel="stylesheet" type="text/css" href="/static/theme.css">
    </head>
    <body>
      <nav class="navbar navbar-default" style="font-size: 24px;">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/">Home</a>
          </div>
          <div class="pull-right">
            {% if current_user.is_authenticated %}
            Hi <a href="/user">{{current_user.username }}</a>! <a href="/logout">Logout</a>
            {% else %}
            <a href="/login">Login</a> or <a href="/register">Register</a>
            {% endif %}
          </div>
        </div>
      </nav>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <center>{{ message | safe }}</center>
          {% endfor %} 
        {% endif %}
      {% endwith%}
      {% block content %}{% endblock %}
    </body>
  </html>
