{% extends "template.html" %}

  {% block content %}
  <div class="container-fluid">
  <div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
  <p>Your current score total is: {{ score }}</p>
  <p><a href="/user/password/">Want to change your password?</a></p>
  </div>
  </div>
  </div>
  {% endblock %}
